services:
  account:
    ports:
      - 8080:8080
    restart: on-failure
    image: sumitk999/account:latest

  cart:
    ports:
      - 8081:8080
    restart: on-failure
    image: sumitk999/cart:latest

  catalog:
    ports:
      - 8082:8080
    restart: on-failure
    image: sumitk999/catalog:latest

  payment:
    ports:
      - 8085:8080
    restart: on-failure
    image: sumitk999/payment:latest

  order:
    ports:
      - 8083:8080
    restart: on-failure
    image: sumitk999/order:latest

  gateway:
    ports:
      - 8084:8080
    depends_on:
      - account
      - catalog
      - order
      - cart
    restart: on-failure
    image: sumitk999/gateway:latest
