#version: "3.7"
services:
  account:
    build:
      context: .
      dockerfile: ./account/app.dockerfile
   
    environment:
      DATABASE_URL: Hidden
    restart: on-failure

  catalog:
    build:
      context: .
      dockerfile: ./catalog/app.dockerfile
    depends_on:
      - catalog_db
    environment:
      DATABASE_URL: http://catalog_db:9200
    restart: on-failure

  order:
    build:
      context: .
      dockerfile: ./order/app.dockerfile
    environment:
      DATABASE_URL: Hidden
      ACCOUNT_SERVICE_URL:  account:8080
      CATALOG_SERVICE_URL:  catalog:8080
    restart: on-failure

  graphql:
    build:
      context: .
      dockerfile: ./graphql/app.dockerfile
    ports:
      - 8000:8080
    depends_on:
      - account
      - catalog
      - order
    environment:
      ACCOUNT_SERVICE_URL:  account:8080
      CATALOG_SERVICE_URL: catalog:8080
      ORDER_SERVICE_URL: order:8080
    restart: on-failure

  catalog_db:
    image: docker.elastic.co/elasticsearch/elasticsearch:6.2.4
    environment:
      ES_JAVA_OPTS: -Xms1g -Xmx1g
      discovery.type: single-node


# replaced by aiven postgres database
#  account_db:
#    build:
#      context: ./account
#      dockerfile: ./db.dockerfile
#    environment:
#      POSTGRES_DB: sumit
#      POSTGRES_USER: sumit
#      POSTGRES_PASSWORD: 123456
#    restart: on-failure


#  order_db:
#    build:
#      context: ./order
#      dockerfile: ./db.dockerfile
#    environment:
#        POSTGRES_DB: sumit
#        POSTGRES_USER: sumit
#        POSTGRES_PASSWORD: 123456
#    restart: always
