#version: "3.7"
services:
  account:
    build:
      context: ./account
      dockerfile: ./Dockerfile
    ports:
      - 8080:8080
    restart: on-failure
    image: sumitk999/account:latest

  cart:
    build:
      context: ./cart
      dockerfile: ./Dockerfile
    ports:
      - 8081:8080
    restart: on-failure
    image: sumitk999/cart:latest

  catalog:
    build:
      context: ./catalog
      dockerfile: ./Dockerfile
    ports:
      - 8082:8080
    depends_on:
      - elasticsearch
    restart: on-failure
    image: sumitk999/catalog:latest

  order:
    build:
      context: ./order
      dockerfile: ./Dockerfile
    ports:
      - 8083:8080
    restart: on-failure
    image: sumitk999/order:latest

  gateway:
    build:
      context: ./gateway
      dockerfile: ./Dockerfile
    ports:
      - 8084:8080
    depends_on:
      - account
      - catalog
      - order
      - cart
    restart: on-failure
    image: sumitk999/gateway:latest

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.15.0
    container_name: elasticsearch
    ports:
      - 9200:9200
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - xpack.license.self_generated.type=trial
    volumes:
      - elasticsearch-data:/usr/share/elasticsearch/data
    restart: unless-stopped

volumes:
  elasticsearch-data:
    driver: local