name: Deploy on AWS

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Create .env file
        run: |
          echo "PORT=${{ secrets.PORT }}" >> accounts/.env
          echo "DATABASE_URL=${{ secrets.DATABASE_URL }}" >> accounts/.env
          echo "PORT=${{ secrets.PORT }}" >> cart/.env
          echo "CATALOG_SERVICE_URL=${{ secrets.CATALOG_SERVICE_URL }}" >> cart/.env
          echo "ORDER_SERVICE_URL=${{ secrets.ORDER_SERVICE_URL }}" >> cart/.env
          echo "DATABASE_URL=${{ secrets.DATABASE_URL }}" >> cart/.env
          echo "PORT=${{ secrets.PORT }}" >> order/.env
          echo "DATABASE_URL=${{ secrets.DATABASE_URL }}" >> order/.env
          echo "CATALOG_SERVICE_URL=${{ secrets.CATALOG_SERVICE_URL }}" >> order/.env
          echo "ACCOUNT_SERVICE_URL=${{ secrets.ACCOUNT_SERVICE_URL }}" >> order/.env  
          echo "PORT=${{ secrets.PORT }}" >> catalog/.env
          echo "ELASTIC_SEARCH_CLOUD_ID=${{ secrets.ELASTIC_SEARCH_CLOUD_ID }}" >> catalog/.env
          echo "ELASTIC_SEARCH_API_KEY=${{ secrets.ELASTIC_SEARCH_API_KEY }}" >> catalog/.env
          echo "PORT=${{ secrets.PORT }}" >> gateway/.env
          echo "ACCOUNT_SERVICE_URL=${{ secrets.ACCOUNT_SERVICE_URL }}" >> gateway/.env
          echo "CATALOG_SERVICE_URL=${{ secrets.CATALOG_SERVICE_URL }}" >> gateway/.env
          echo "CART_SERVICE_URL=${{ secrets.CART_SERVICE_URL }}" >> gateway/.env
          echo "ORDER_SERVICE_URL=${{ secrets.ORDER_SERVICE_URL }}" >> gateway/.env
          echo "CLOUDINARY_CLOUD_ID=${{ secrets.CLOUDINARY_CLOUD_ID }}" >> gateway/.env
          echo "CLOUDINARY_API_KEY=${{ secrets.CLOUDINARY_API_KEY }}" >> gateway/.env
          echo "CLOUDINARY_API_SECRET=${{ secrets.CLOUDINARY_API_SECRET }}" >> gateway/.env
      - name: Login to Docker
        run: docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}
      - name: Build Docker Image
        run: docker-compose build
      - name: Push Docker Image
        run: docker-compose push
  deploy:
    needs: build
    runs-on: self-hosted
    steps:
      - name: Pull Docker Image
        run: docker-compose pull
      - name: Remove Old Images
        run: docker-compose down
      - name: Run Docker Compose
        run: docker-compose up -d

          
